/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Fira+Mono&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700&display=swap);


// fonts
$font-family-sans-serif: Lato, Helvetica, sans-serif !default;
$font-family-monospace: "Fira Mono", monospace;
$headings-font-family: Lato, Helvetica, sans-serif !default;

//  Warwick colors 
$aubergine: #552D62;
$aubergine85: #6F4D7A;
$aubergine70: #886C91; //ID7 secondary
$aubergine50: #AA96B1;
$aubergine30: #CCC0D0;
$aubergine15: #E6E0E7;

$ruby: #9A1310;
$ruby85: #A93634;
$ruby70: #B85A58; //ID7 secondary
$ruby50: #CD8988;
$ruby30: #E1B8B7;
$ruby15: #F0DCDB;

$sky: #00407A;
$sky85: #265D8E;
$sky70: #4D79A2; //ID7 secondary
$sky50: #80a0bd;
$sky30: #B3C6D7;
$sky15: #D9E2EB;

$green: #0F4001;
$green85: #335D27;
$green70: #57794D; //ID7 secondary
$green50: #87A080;
$green30: #B7C6B3;
$green15: #DBE2D9;

// extra color (complement of $sky)
$russet: #7A3A00;
$russet85: #8E5826;
$russet70: #A2754D; //ID7 secondary
$russet50: #BD9D80;
$russet30: #D7C4B3;
$russet15: #EBE1D9;

$gray: #393A3B;
$gray85: #575858;
$gray70: #747576; //paler
$gray50: #9C9D9D;
$gray30: #C4C4C4;
$gray15: #E1E1E2;
$gray05: #F5F5F5;

$gray120: #2E2E2F;
$gray140: #222323;
$gray160: #171718;
$gray180: #0B0C0C;

$primary:       $aubergine !default;

$presentation-font-size-root: 32px;
$code-block-font-size: .7em;
$presentation-heading-font: Lato, Helvetica, sans-serif !default;
//$presentation-heading-color: $ruby;
$body-color: $gray120;
$link-color: $sky70;
$code-color: $ruby85;

/*
// Doesn't work in Quarto 1.3, hopefully will fixed in 1.4
// need to use an inline raw html block directly in hte qmd file
$callout-color-note: $sky85;
$callout-color-important: $ruby85;
$callout-color-tip: $green85;
$callout-color-caution: $aubergine85;
$callout-color-warning: $russet85;
*/

/*
div.callout-warning {
  border-color-left: $russet85 !important;
}
*/

/*-- scss:rules --*/

// color classes
.primary {
  color: $primary;
}

// code

pre.sourceCode {
  border-radius: 0;
  border-left-color: $gray;
  //font-size: .8em;
}



// title-slide

#title-slide {
  color: $gray05;
}

#title-slide .title {
  font-size: 70px;
  padding-bottom: .25em;
}

#title-slide .subtitle {
  margin-bottom: 6rem;
}

.reveal .quarto-title-block .quarto-title-authors {
  display: block;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.5em;
}

// alignment and spacing
.center-h {
  text-align: center;
}

.right {
  text-align: right;  
}

p {
  padding-bottom: 12px;
}

.cell {
  padding-bottom: 20px;
}

// headings
.reveal h2 {
  padding-bottom: 20px;
  color: $ruby;
}

// sizes
.smaller90 {
  font-size: 90%;
}

.smaller80 {
  font-size: 80%;
}

.smaller75 {
  font-size: 75%;
}

.smaller70 {
  font-size: 70%;
}

.smaller60 {
  font-size: 60%;
}

.smaller50 {
  font-size: 50%;
}

.larger125 {
  font-size: 125%;
}

.larger150 {
  font-size: 150%;
}

.larger175 {
  font-size: 175%;
}

.larger200 {
  font-size: 200%;
}

.larger250 {
  font-size: 250%;
}
// figure caption
.reveal .slide figure>figcaption, .reveal .slide img.stretch+p.caption, .reveal .slide img.r-stretch+p.caption {
  font-size: 0.5em;
}

// tables
.reveal table th, .reveal table td {
    border-bottom: 1px solid;
    border-color: $gray15;
}

kbd {
  border: 1px solid #aaa;
  border-radius: 4px;
  display: inline-block;
  padding: 5px 9px;
  background: linear-gradient(178deg, #fff, #fff, #fff, #ddd);
}

// inverse
// with credit/thanks to Emil Hvidfeldt
// adapted from https://github.com/EmilHvitfeldt/quarto-revealjs-inverse

.inverse {
  color: $gray05;

  h1, h2, h3 {
    color: $gray05;
  }
  
  .slide-background-content {
    background-color: $aubergine;
  }
  
  a {
    color: $sky30;
  }
  
  p code {
    color: $ruby30;
  }
}

